:root,
::backdrop {
  --delft-blue: #29316C;
  --razzmatazz: #F61067;
  --cambridge-blue: #73A580;
  --jonquil: #F1C40F;

  --info-board-background-color: white;
  --info-board-text-color: var(--delft-blue);

  --info-board-pre-background-color: #fafafa;
  --info-board-pre-text-color: #2d2f40;

  --info-board-table-odd-background-color: #fafafa;
  --info-board-table-even-background-color: #efefef;

  --border-1-url: url(border_1.svg);
  --border-2-url: url(border_2.svg);
  --border-3-url: url(border_3.svg);
}

/* Dark theme */
@media (prefers-color-scheme: dark) {

  :root,
  ::backdrop {
    --info-board-background-color: var(--delft-blue);
    --info-board-text-color: white;

    --info-board-pre-background-color: #2d2f40;
    --info-board-pre-text-color: #fafafa;

    --info-board-table-odd-background-color: #2d2f40;
    --info-board-table-even-background-color: #232533;

    --border-1-url: url(border_1_dark.svg);
    --border-2-url: url(border_2_dark.svg);
    --border-3-url: url(border_3_dark.svg);
  }
}

body {
  grid-template-columns: 1fr min(60rem, 95%) 1fr;
}

nav a.current {
  color: var(--cambridge-blue) !important;
  border-color: var(--cambridge-blue) !important;
}

body>header {
  background-color: var(--delft-blue);
  color: white;
}

header>nav a,
header>nav a:visited {
  color: white;
}

header>nav a:hover,
header>nav a[aria-current="page"] {
  border-color: var(--jonquil);
  color: var(--jonquil);
}

body>footer {
  margin-top: 0rem;
  border-top: 0px solid var(--border);
}


.info-board {
  border: min(85px, 8vw) solid red;
  background-color: var(--info-board-background-color);
  position: relative;
  margin-top: 5%;
  z-index: 1;
}

.border-1 {
  border-image-source: var(--border-1-url);
  border-image-slice: 27% 27%;
  border-image-repeat: stretch;
}


.border-2 {
  border-image-source: var(--border-2-url);
  border-image-slice: 20% 20%;
  border-image-repeat: round;
}

.border-3 {
  border-image-source: var(--border-3-url);
  border-image-slice: 25% 25%;
  border-image-repeat: round;
}

.info-board h1 {
  color: var(--info-board-text-color);
  font-size: 2rem;
  margin: 0.5rem;
  padding-left: 3%;
  margin-bottom: -3%;
}

.info-board h2 {
  color: var(--info-board-text-color);
  font-size: 1.5rem;
  padding-left: 3%;
  /* make the heading responsive */
  /* top: 4vw; */
  /* left: 4%;  */
  margin-bottom: -3%;
  margin-top: -1%;
}

.info-board p {
  position: relative;
  color: var(--info-board-text-color);
  padding: 3%;
  font-size: 1.15rem;
  margin: 0.5%;
  z-index: 3;
  width: 100%;
}


.info-board pre {
  position: relative;
  color: var(--info-board-pre-text-color);
  background-color: var(--info-board-pre-background-color);
  padding-left: 3%;
  font-size: 1.4rem;
  margin: 0.5%;
  z-index: 3;
  width: 99%;
  white-space: pre-wrap;
  font-family: var(--sans-font);
}






.info-board img {
  width: 20%;
  min-width: 100px;
  position: absolute;
  transform: translateY(-80%);
  right: 4%;
  z-index: 2;
}







.info-board table {
  margin-left: 3%;
  z-index: 3;
}

.info-board th {
  background-color: var(--info-board-table-odd-background-color);
  color: var(--info-board-text-color);
}

.info-board td {
  color: var(--info-board-text-color);
}

.info-board tr:nth-child(odd) {
  background-color: var(--info-board-table-odd-background-color);
}

.info-board tr:nth-child(even) {
  background-color: var(--info-board-table-even-background-color);
}